/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, button,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
  border: none;
  background: transparent;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-size: 16px;
  min-width: 360px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Griding */
.flex {
  display: flex;
}
.flexJustifyCenter {
  justify-content: center;
}
.flexGrow1 {
  flex-grow: 1;
}
.flexWrap {
  flex-wrap: wrap;
}
.flexNoShrink {
  flex-shrink: 0;
}
.flexJustifySpaceBetween {
  justify-content: space-between;
}
.flexAlignItemCenter {
  align-items: center;
}
.minHeight800vh {
  min-height: 80vh;
}
.containerDesktop, .maxWidth1200 {
  max-width: 1200px;
}
.containerTablet, .maxWidth796 {
  max-width: 796px;
}
.containerMobile, .maxWidth540 {
  max-width: 540px;
}
.width100 {
  width: 100%;
}
.width50 {
  width: 50%;
}
/* font */
.p {
  font-size: 1em;
}
.a {
  opacity: 0.7;
  text-decoration: none;
}
.a:hover {
  opacity: 1;
}
.Button {
  cursor: pointer;
  opacity: 0.7;
}
.Button:hover {
  opacity: 1;
}
.h1 {
  font-size: 2.8em;
}
.h2 {
  font-size: 2em;
}
.h3 {
  font-size: 1.4em;
}
.h4 {
  font-size: 1em;
}
.h5 {
  font-size: 0.9em;
}
.h6 {
  font-size: 0.8em;
}
.lineHeight1 {
  line-height: 1.6em;
}
.colorBlack {
  color: #484848;
}
.colorWhite {
  color: #ffffff;
}
.colorGreen {
  color: #477d00;
}
.colorRed {
  color: #d54247;
}
.colorBlue {
  color: #006ab6;
}
.colorGrey {
  color: #808080;
}
.textAlignCenter {
  text-align: center;
}
.strong, .fontWeightBold {
  font-weight: bold;
}

/* Background */
.backgroundColorGreen {
  background-color: #f6f9f2;  
}
.backgroundColorBlack {
  background-color: #232323;
}
.backgroundColorGrey {
  background-color: #e7e7e7;
}

/* Paddings */
.paddingLeftSmall {
  padding-left: 1em;
}
.paddingRightSmall {
  padding-right: 1em;
}
.paddingTopSmall {
  padding-top: 1em;
}
.paddingBottomSmall {
  padding-bottom: 1em;
}
.paddingLeftBig {
  padding-left: 2.5em;
}
.paddingRightBig {
  padding-right: 2.5em;
}
.paddingTopBig {
  padding-top: 2.5em;
}
.paddingBottomBig {
  padding-bottom: 2.5em;
}

/* Borders */
.borderBottomGrey {
  border-bottom: 1px solid #484848;
}
.borderRadiusSmall {
  border-radius: 5px;
}


/* Media Query  */
/* Smaller than 796 */
@media (max-width: 796px) {
  .width100Tablet {
    width: 100%;
  }
}
